@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,00;1,600&display=swap');

.social-icons {
    position: fixed;
    /* background-color: rgb(62, 24, 105); */
    display: flex;
    flex-direction: column;
    width: 6rem;
    align-items: center;
}
.social-wrapper{
    position: absolute;
    top: 34vh;
    /* bottom: -4vh; */
    left: -1rem;
    
}

.social-btn {
    width: max-content;
    margin: 1rem 1rem;
}
a {
    text-decoration: none;
    display: inline-block;
    color: #aaa;
}
.social-btn {
    transition: transform 0.3s ease-in-out, filter 0.3s ease-in-out;
}
.social-btn:hover {
    filter: grayscale(100%) brightness(90%) sepia(35%) hue-rotate(-129deg) saturate(600%) contrast(1);
    transform: scale(1.2);
}

.my-socials-txt {
    /* transform: rotate(-90deg); */
    margin: .5rem 0;
    color: blueviolet;
}

.line::after{
    content: "";
    display: block;
    width: 1px;
    height: 12rem;
    margin: 0px auto;
    background-color: #aaa;
}
.line2::after{
    content: "";
    display: block;
    width: 1px;
    height: 100rem;
    margin: 0px auto;
    background-color: #aaa;
}
/* .email-wrapper{

} */
.email-link{
    font-family: "Roboto Mono", monospace;
    color: #aaa; 
    transform: rotate(90deg);
    position: relative;
    top: -114px;
    transition: all .2s ease-in-out;
}
.email-txt{
    position: fixed;
    display: flex;
    flex-direction: column;
    right: -4rem;
    bottom: -4vh;
}
.email-link:hover{
    color: blueviolet;
    position: relative;
    top: -118px;
}

@media (max-width: 1200px){
    
}
@media (max-width: 992px){

}
@media (max-width: 767px){
    .line, .email-wrapper, .line2{
        display: none;
    }
    .social-icons{
        flex-direction: row;
        bottom: 0;
        position: static;
        justify-content: center;
        width: 100%;
    }
    .social-wrapper{
        display: flex;
        justify-content: center;
        position: static;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
@media (max-width: 576px){
    .social-icons{
        justify-content: space-evenly;
    }
}