@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,00;1,600&display=swap');

.skills-card {
    background: linear-gradient(to right, #8e2de2, #4a00e0);
    width: max-content;
    padding: .5rem 1.5rem;
    color: ghostwhite;
    border-radius: 1rem;
    font-weight: 600;
    margin: 1rem;
    /* margin: .5rem 4rem; */
    font-family: "Roboto Mono", monospace;
    box-shadow: 1px 1px 30px #8e2de2;
}
/* .skills-card:hover{
    transform: translateY(-5px);
    border-bottom: 3px solid #c684ff;
    box-shadow: 1px 1px 30px #c684ff;

} */
.skills-section {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.skills-head {
    color: #cacaca;
    font-size: 2.3rem;
    text-align: center;
}

/* .skills-head:hover{
    background: linear-gradient(310deg, #c179ff 0%, #7e3fff 50%);
    background-clip: text;
    color: transparent;
    letter-spacing: .2rem;
    box-shadow: 4px 3px 2px #c179ff;
    padding-right: 0.5rem;
} */

.skills-main-wrapper {
    text-align: center;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
}

.frontend-skills, .backend-skills, .database-skills {
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

.backend-skills, .database-skills{
    justify-content: center;
}
.frontend-head, .backend-head {
    font-size: 1.3rem;
    font-family: "Roboto Mono", monospace;
    color: #cacaca;
}
.border-dec{
    height: 20vh;
    width: 50vh;
    border-top: 2px solid white;
}


@media (max-width: 1200px){
    
}
@media (max-width: 992px){
    .frontend-skills,.backend-skills,.database-skills{
        flex-wrap: wrap;
        justify-content: center;
    }
}
@media (max-width: 767px){

}
@media (max-width: 576px){
    .skills-card{
        margin: .5rem;
        padding: .3rem 1rem;
        font-size: .8rem;
    }
    
    .frontend-head, .backend-head{
        font-size: .9rem;
    }
    .skills-head{
        font-size: 1.5rem;
        margin-bottom: 0;
    }
    .skills-section{
        padding-right: 0;
        padding-left: 0;
    }
}