nav{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.062);
    position: sticky;
    z-index: 2;
    width: 100%;
    background-color: inherit;
}

.content{
    padding-top: 5rem;
}
.nav-bar{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem 2rem 1rem 1rem;
}
/* .logo{
    background-color: rgba(255, 255, 255, 0);
    border: 2px solid rgb(0, 155, 216);
    color: rgb(0, 155, 216);
    font-size: 2rem;
    font-weight: 800;
    border: none;
    padding: .8rem;
} */
.nav-links{
    font-weight: 600;
    color: #cacaca;
    font-size: 1.2rem;
    text-decoration: none;
    margin: .5rem 1rem;
    cursor:pointer
}
.nav-links:hover{
    background: linear-gradient(310deg, #c179ff 0%, #7e3fff 50%);
    background-clip: text;
    color: transparent;
    transition: all .3s ease-in-out;
    /* border-bottom: 2px solid;
    border-image:  linear-gradient(#8e2de2 0%, #4a00e0 50%) 1; */
}
.resume-link{
    
}

@media (max-width: 1200px){
    
}
@media (max-width: 992px){
    nav{
        flex-wrap: wrap;
    }
    .nav-bar{
        flex-wrap: wrap;
    }
}
@media (max-width: 767px){

}
@media (max-width: 576px){
    nav{
        justify-content: center;
    }
    .nav-bar{
        justify-content: center;
        padding-top: .5rem;
        padding-bottom: .2rem;
    }
    .nav-links{
        font-size: .8rem;
        
    }
}   
@media (max-width: 400px){
    .nav-bar{
        padding: 0;
    }
    nav{
        width: 100%;
    }
}