.contact-head {
    margin-bottom: 1rem;
}
.contact-section{
    text-align: center;
    padding: 3rem;
}
.contact-info{
    margin: auto;
    text-align: justify;
    width: 35rem;
    font-size: 1.1rem;
    color: #cacaca;
    line-height: 1.8rem;
}

@media (max-width: 1200px){
    
}
@media (max-width: 992px){

}
@media (max-width: 767px){
    .contact-info{
        width: 100%;
        font-size: 1rem;
    }
}
@media (max-width: 576px){
    .contact-info{
        line-height: 1.5rem;
        font-size: .9rem;
    }
    .contact-section{
        padding: 1rem 0;
    }
}